@font-face {
	font-family: 'Dancing-Bold';
	src: url('./assets/fonts/DancingScript-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Dancing-Medium';
	src: url('./assets/fonts/DancingScript-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Indie-Regular';
	src: url('./assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}
